/* ESTILIZAÇÃO TABELA DE PEDIDOS */

.woocommerce table.shop_table, tr, th {
    border: 0px solid transparent;
}

.nobr{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.woocommerce table.shop_table a {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #6A066D;
}

.woocommerce table.shop_table td {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;   
    color: #000000;
}

.woocommerce-orders-table__cell a.button {
    border: 3px solid #6A066D;
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #6A066D;
    width: 180px;
    height: 40px;
    padding-bottom: 30px;
    text-align: center;
}
