.product-content{
    position: relative;
}

.product-info{
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0%;
    padding: 0.1em;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #E5E5E5;

    padding: 0.3em;
}

.product-price-cart{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    color: #FAFAFA;
}

.product-price{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FAFAFA;
}

.product-add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5C661;
    padding: 0.2em;
    border: none;
}

.product-img{
    width: 100%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}