/* ESTILIZAÇÃO ABOUT */

.LPAbout {
    background-color: #7A247D ;
    text-align: center;
    padding: 3%;
}

.LPTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #F5C661;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5%;
}

.LPDescription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    text-align: center;   
    color: #FAFAFA;
    margin: 5%;
}

/* ESTILIZAÇÃO CONHEÇA NOSSA LOJA */

.LPContainer {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-bottom: 5px;
}

.ContainerTitle {
    text-align: center;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
    margin: 5%;
    
}

.AllCategories {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.AllCategoriesTitle {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 3%;
}

.EachCategory ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 1em;
}

.CategoriesTypes {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    gap: 1em;
}

.CategoryItem a {
    text-decoration: none;
}

.CategoryContent {
    position: relative;
    width: 240px;
    height: 210px;
}

.CategoryTitle {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0%;
    padding: 0.1em;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #E5E5E5;
}

/* ESTILIZAÇÃO PRATOS DO DIA */

.PratosDoDia {
    display: flex;
    flex-direction: column;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;    
}

.OtherOptions {
    width: 235px;
    height: 41px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    background: #F5C661;
    align-self: center;
}

/* ESTILIZAÇÃO LOJA FISICA */

.LojaFisica {
    background-color: #7A247D ;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.LFTitle {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FAFAFA;
    margin: 5%;
}

.LFContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10%;
    justify-content: center;

}

.Mapa {
    padding-left: 3%;
    padding-right: 3%;
}

.LFAdress, .LFContato {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;    
    margin: 3%;
    align-items: flex-start;
    gap: 1em;
}

/* ESTILIZAÇÃO DOS SLIDES */

.slides {
    max-width: 40%;
    max-height: 80% ;
}

.slider {
    display: block;
    max-height: 100%;
    width: 500px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 324.92px;
    width: 475.55px;
    object-fit: cover;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    border-radius: 50%;
    background-color: #FAFAFA;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider li input:checked ~ label {
    background-color: #000;
}

@media only screen and (max-width: 1100px){
    .slides{
        display: none;
    }
}