/* ESTILIZAÇÃO DO FORMULARIO */

#shipping_address_nickname_field, #shipping_country_field {
    display: none;
}

h3 {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #000000;
    padding-bottom: 3px;
}

.woocommerce-address-fields label {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.woocommerce-address-fields input {
    border: none;
    border-bottom: 2px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
 
.woocommerce button.button{
    width:200px;
    height: 40px;
    text-align: center;
    background: #7E3481;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;   
}

/* ESTILIZAÇÃIO DA PAGINA */

.woocommerce-MyAccount-content {
    align-self: center;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

.address_page_description{
    margin-bottom: 15px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #000000;
}

.container-button{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}