
.woocommerce-MyAccount-content label, .woocommerce-MyAccount-content a, .woocommerce-MyAccount-content p {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: #000000;
    margin-bottom: 1%;
    text-decoration: none;
}

.woocommerce-MyAccount-content input {
    border: none;
    border-bottom: 2px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
    background-color: #e4fbff;
}

.woocommerce-EditAccountForm a{
    text-decoration: none;
    color: #000000;
}

.woocommerce-EditAccountForm input{
    border: none;
    border-bottom: 3px solid #6A066D;
    padding: 2px;
    padding-left: 5px;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.container-button{
    display: flex;
    justify-content: center;
}

.save-changes-button {
    width: 250px;
    height: 41px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    color: #FFFFFF;
    background: #7E3481;
    align-self: center;
}

