#header-container {
    background-color: #7A247D ;
   
    
}

#header-menu {
    padding: 8px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#home-search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2em;
    flex-wrap: wrap;
}

#orders-account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2em;
    flex-wrap: wrap;
}

#header-container img{
    max-width: 80px;
    max-height: 50px;
    cursor: pointer;
}


.menu-item a img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    cursor: pointer;
}


.store-button {
    padding: 5px;
    background-color:  #F5C661;
    border: none;  
    cursor: pointer; 
}

.store-button a {
    padding: 3px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;            
    color: #000000;
}


.header-searchbar {
    display: flex;
    width: max(200px,30vw);
    border-bottom: 3px solid #F5C661;
    padding: 0.1em;   
}

.header-searchbar input, .header-searchbar input:focus {
    box-sizing: border-box;
    width: max(200px,28.7vw);
    border: none;   
    background-color: transparent; 
    outline: none;
}



